body {
    overflow: scroll;
}

header {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    z-index: 1;
}

section {
    height: 400px;
}

ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 545px ){
    body {
        font-size: 1.15em; 
        background-color: blanchedalmond;       
     }
}
  